* {
    margin: 0;
    padding: 0;
    }
    
.cabeçalho {
background-color: #f10aaf;
color: rgb(150, 50, 147);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
    
.cabeçalho-título {
    font-size: 54px;
    }
    
.cabeçalho-lista {
        color:rgba(120, 4, 122, 0.898);
        font-size: 22px;
    }
    
.cabeçalho-imagem {
        width: 120px;
    }
    
.cabeçalho-lista-item01 {
        display: inline-block;
        margin: 0 16px;
    }
    
.cabeçalho-lista-item02 {
        display: inline-block;
        margin: 0 16px;
    }

 .Nosso-objetivo {
    background-color: #ac1abc;
    display:flex;
    justify-content: center;
 }   
.Nosso-objetivo-imagem {
        width: 100px;

.rodapé-imagem {
background-color: #5a0b53;


}
}